* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --table-row-height: 3rem;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

nav {
  background-color: lightgray;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul{
  min-height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

nav ul li {
  margin: 20px 0;
}

main {
  margin-left: 250px;
  margin-top: 5.0em;
  height: 100vh;
  padding: 30px 100px;
}

.user_message {
  height: min-content;
  text-align: center;
  border-radius: 1em;
  overflow: hidden;
  background-color: #d4edda;
  position: absolute;
  top: 1.5em;
  right: 100px;
  left: 350px;
}

.user_message .user_message_text {  
  border-color: #c3e6cb;
  color: #155724;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}

.login_message{
  left: 100px;
}

div.table_container{
  width: 100%;
  padding: 10px 5px;
}

caption.table_title{
  padding: 20px 0;
}

table {
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 5px grey; 
  overflow: hidden;
  border-collapse: collapse;
}

thead {
  background-color: #33b5e5;
  color: #fff;
}

table, th, td {
  padding: 10px 0 ;
  height: var(--table-row-height);
}

tr:hover {
  background-color: lightgrey;
  cursor: pointer;
}

tr.no-hover:hover{
  background-color: inherit;
  cursor: default;
}

div.show_form_button{
  padding: 15px;
  width: 100%;
}

div.show_form_button button {}

.form_container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: max-content;
  transition: height 1s;
  overflow: hidden;
}

div.form_container form {
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  box-shadow: 0px 0px 2px grey;
}

.form_title {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 5px;
  padding: 10px;
}

form .grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
}

form .grid_container .grid_item_label, 
form .grid_container .grid_item_input {
  display: flex;
  align-items: center;
}

form .grid_container .grid_item_label{
  justify-content: end;
  grid-column: 1/2;
  padding: 5px;
}

form .grid_container .grid_item_input{
  grid-column: 2/13;
}

.new_row {
  background-color: #d4edda;
  transition: background-color 2000ms;
}

.delete_button, .edit_button{ */
  /* height: var(--table-row-height); */
}
.delete_button:hover, .edit_button:hover{
  color: white;
}