* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

nav {
  background-color: lightgray;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul{
  min-height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

nav ul li {
  margin: 20px 0;
}

main {
  margin-left: 250px;
  height: 100vh;
  padding: 30px 100px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table th, td {
  padding: 10px;
}

table th {
  background-color: lightgray;
}

table {
  width: 100%;
  text-align: center;
}
